.signup-main{
  /* background: var(--dark-color); */
  background-image: url("../../assests/image1.5.webp");
  /* height: 800px; */
  background-position: center;
  background-size: cover;
  /* position: absolute; */
  /* top: 0; */
  /* padding:10rem; */
}
  .signup-form{
    /* background-color:#5d525295;  */
    
  background-image: url("../../assests/test4.png");
  background-position: center;
  background-size: cover;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}
.form-label{
  color:black;
}
.register{
  margin-left: 250px;
  padding: 10px;
  height: 50px;
  width: 150px;
  
}
lable{
  color:#fff;
}