.hero{
    background-image: url("../../assests/image1.5.webp");
    height: 800px;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    /* top: 0; */
    padding:10rem;
  
}
.hero1{
    background-image: url("../../assests/gym-home1.jfif");
    height: 800;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    /* top: 0; */
    padding:10rem;
  
}
.color-text{
    color:var(--primary-color)
}
.hero_col2 img{
   width: 80%;
   margin: 0;
   padding: 0;
   border-radius: 10px;
}
.btn0{
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
}
.play_btn{
    background-color: transparent;
    border:0;
    color: #fff;
    padding: 0 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}
.play_btn img{
    width: 50px;
    padding: 0.5rem 0.5rem 0.5rem 0.6rem;
    background-color:rgb(52, 44, 44); 
    border-radius: 100%;
    margin: 0 0.5rem;
    
}
.hero_col1 h1{
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
}
.hero_col1 p{
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #fff;
}
.main_3 img{
    width:90%;
    border-radius:15px;
}
.main_2 img{
    border-radius: 10px;
}