@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
:root{
--main-color:#ff2332;
--primary-color:#ff662d;
--dark-color:#37383c;
--darklight-color:#3a3b3f;

}
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
span{
    color:var(--primary-color);
}
.logo{
width:10%;
}
.nav_main{
    position: relative;
    z-index: 100;
    padding: 1rem 0;
}
.nav_main li{
    padding: 0 0.4rem;
}
.nav_main a{
    color:#fff;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    font-weight: 600;
}
.nav_main a:hover{
    color:var(--main-color);
}
.btn1{
    border: 0;
    padding: 0.5rem 1.9rem;
    background-color:var(--main-color) ;
    color:#fff;
    border-radius: 5px;
    font-weight: 600;
}
.btn1:hover{
    color:black;
}

/**********************************************************/


/*********************************************************************/
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    } 